/* *******************************general style *************************** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #fffafa;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
.gry-colr{
    color: #a1a1a1 !important;
}
.mr-gry-colr{
    color: #868585 !important;
}
.grn-colr{
    color: #1dbf73 !important;
}
.yllw-str{
    color: #FFD700;
    display: inline-block;
}
h3 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    padding: 20px 0;
}
.wte-shdw{
    background-color: #fdfdfd;
    box-shadow: 0px 0px 7px #e3dfdf;
    border-radius: 10px;
    padding: 30px 20px;
    margin-bottom: 20px;
}
.flex {
    display: flex;
    align-items: center;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-18 {
    font-size: 18px;
}
.fs-24 {
    font-size: 24px !important;
}
.me-5 {
    margin-right: 5px;
}

.ms-5 {
    margin-left: 5px;
}
.mt-6{
    margin-top: -6px;
}

.ms-10 {
    margin-left: 10px;
}

.me-10 {
    margin-right: 10px;
}

.me-20 {
    margin-right: 20px;
}

.mt-10 {
    margin-top: 10px !important;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.pt-10 {
    padding-top: 10px;
}
.pe-10 {
    padding-right: 10px;
}
.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.crc-small {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.crc-big {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #02c75b;
}

.w-100 {
    width: 100%;
}

.cursor {
    cursor: pointer;
}

.d-none {
    display: none !important;
}
button.hrt-btn{
    border: none;
    background-color: transparent;
}